In [86]:
import pandas as pd

In [87]:
# 1. Сделать заглавной первую букву, каждого элемента pd.Series(['how', 'to', 'kick', 'ass?']).
import string
pd.Series(['how', 'to', 'kick', 'ass?']).apply(lambda x: x[0].upper() + x[1:])

0     How
1      To
2    Kick
3    Ass?
dtype: object

In [88]:
# 2. Вычислить Евклидово расстояние между
# pd.Series([1, 2, 3, 4, 5, 6, 7, 8, 9, 10]),
# pd.Series([10, 9, 8, 7, 6, 5, 4, 3, 2, 1])
import math
a = pd.Series([1, 2, 3, 4, 5, 6, 7, 8, 9, 10])
b = pd.Series([10, 9, 8, 7, 6, 5, 4, 3, 2, 1])
c = a - b
math.sqrt((c * c).agg('sum'))

18.16590212458495

In [89]:
# 3. Сделать one-hot encodings для датафрейма
# pd.DataFrame(np.arange(25).reshape(5,-1), columns=list('abcde'))
import numpy as np
pd.DataFrame(np.arange(25).reshape(5,-1), columns=list('abcde')).applymap(lambda x: ([0] * x) + [1] + ([0] * (24 - x)))

                                                   a  ...                                                  e
0  [1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...  ...  [0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
1  [0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...  ...  [0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, ...
2  [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, ...  ...  [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, ...
3  [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...  ...  [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
4  [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...  ...  [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...

[5 rows x 5 columns]

In [93]:
# 4. Вернуть название колонки с максимальным значением pd.DataFrame(np.random.randint(1,100, 40).reshape(10, -1)).
a = pd.DataFrame(np.random.randint(1,100, 40).reshape(10, -1))
print(a)
a.max().idxmax()

    0   1   2   3
0  67  11  43  47
1  93  80  55  44
2  56  64  82  69
3  96  54  87  61
4  80  85  77  49
5   4  49  51  72
6  78  82  15   4
7  46  56  25  55
8  52  31   1  88
9  33  72  98  83

2

In [94]:
# 5. Нормализировать все колонки в датафрейме pd.DataFrame(np.random.randint(1,100, 80).reshape(8, -1).
import math
a = pd.DataFrame(np.random.randint(1,100, 80).reshape(8, -1))
print(a)
a.div((a.mul(a, axis = 1)).agg('sum', axis = 0).apply(lambda x: math.sqrt(x)), axis=1)

    0   1   2   3   4   5   6   7   8   9
0  57  39  88  24  55  14  84  46  40  88
1  31  95  77   1  46  85  35  29  96  78
2  20  12  82  49  68   2  74  92  81  42
3  51   4  18  67  33  99   3  67   9  80
4  55   7  63  56   7  86  88   6  96  31
5  92  77  15  19  81  85  81  97  21  14
6   7  30  99  25  75   5  58  24  46  19
7  67  40  84  65  51  91  55  63  18  43

          0         1         2  ...         7         8         9
0  0.373917  0.281576  0.430566  ...  0.266025  0.232672  0.552607
1  0.203358  0.685889  0.376746  ...  0.167711  0.558413  0.489811
2  0.131199  0.086639  0.401210  ...  0.532050  0.471161  0.263744
3  0.334558  0.028880  0.088070  ...  0.387471  0.052351  0.502370
4  0.360797  0.050539  0.308246  ...  0.034699  0.558413  0.194668
5  0.603516  0.555931  0.073392  ...  0.560965  0.122153  0.087915
6  0.045920  0.216597  0.484387  ...  0.138796  0.267573  0.119313
7  0.439517  0.288795  0.410995  ...  0.364338  0.104702  0.270024

[8 rows x 10 columns]